* {
    font-family: 'Lucida Console';
    background-color: rgb(205, 215, 215);
    margin: 0vmax;
}

body {
    margin: auto;
}

p {
    flex: 1;
    font-size: 18px;
    margin: auto;
    max-width: 70vmax;
}

li {
    flex: 1;
    padding: 0vmax;
}

li a {
    display: block;
    color: white;
    background-color: rgba(20, 20, 20, 1);
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    border: 0vmax;
    padding: 1vmax;
    margin: auto;
}

li a:hover, button:hover {
    background-color: rgba(70, 70, 70, 1);
}

li a:active, button:active {
    background-color: rgba(20, 20, 20, 1);
}


.leaderboard-table {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25vmax;
    margin-bottom: 0.25vmax;
    font-size: 1cm;
    min-width: 25vmax;
}

th, td {
    padding: 1vmax;
}

button {
    color: white;
    background-color: rgba(20, 20, 20, 1);
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    border: 0vmax;
    padding: 0.25vmax;
}

input {
    color: white;
    border: 0vmax;
    margin-left: 0.05vmax;
    margin-right: 0.05vmax;
    background-color: rgba(20, 20, 20, 1);
}

h1 {
    flex: 1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 5px;
    letter-spacing: -0.25vmax;
    font-style: bold;
    background-color: transparent;
}

#header, h1 {
    font-size: 3cm;
    color: white;
    text-align: center;
}

#header {
    position: relative;
    width: 100%;
    display: block;
    flex-wrap: wrap;
    background-color: rgb(31, 51, 63);
    margin: 0vmax;
    padding-top: 0.25vmax;
    padding-bottom: 0.25vmax;
}

#navigation {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 1cm;
    overflow: hidden;
    background-color: rgba(20, 20, 20, 1);
    padding: 0vmax;
}

#content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-size: 18px;
    padding: 0.5vmax;
    margin: 5vmax;
    margin-bottom: 2cm;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(20, 20, 20, 1);
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
}